#game {
    width: 500px;
    height: 375px;
    border: 1px solid;
    margin: 2rem auto;
}

#character {
    width: 30px;
    height: 30px;
    position: relative;
    top: 270px;
    left: 20px;
    background-color: red;
}

#block {
    height: 80px;
    width: 5px;
    background-color: black;
    position: relative;
    left: 500px;
    top: 300px;
    animation: animation 2s linear infinite;
}

@keyframes animation {
    0% {
        left: 500px;
    }
    100% {
        left: 0px;
    }
}